.section {
    padding: 6rem 1rem;
    background: var(--background);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 4rem;
}

.title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #fff;
}

.subtitle {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
}

.card {
    padding: 2rem;
    border-radius: 1rem;
    background: #080808;
    border: 1px solid #161616;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    transition: transform 0.2s, border-color 0.2s;
}

.card:first-child {
    border: 1px solid #161616;
}

.card:hover {
    border-color: #333;
}


.cardTitle {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    line-height: 1.4;
}

.icon {
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardDescription {
    color: #666;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 300;
}

/* Responsiveness */
@media (max-width: 768px) {
    .section {
        padding: 4rem 1rem;
    }

    .header {
        margin-bottom: 2.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .card {
        padding: 1.5rem;
    }
}